#particles-js{
  width: 100%;
  height: 100%;
  /*background-color: #3284BF;*/
  /*background-image: url('');*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -100;
  position: absolute;
  /*top: 0px;*/
  /*left: 0px;*/

}
body:nth-child(n+1){
	background-color: transparent;
	position: relative;
	/*top: 0px;*/
	/*left: 0px;*/
	z-index: 0;
}
